.hover-card:hover{
    transform: translateY(-10px);
    transition: .5s;
    box-shadow: 0 20px 30px 0 rgba(0,0,0,1);
}

.card-border{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,1);
    
    border-radius: 20px;
}
.img1{
    border-radius: 20px;
}